atom-text-editor,
:host {
  color: #cab2fa;
  background-color: #2c2734;
}
atom-text-editor .line.cursor-line,
:host .line.cursor-line {
  background-color: rgba(73, 66, 87, 0.26);
}
atom-text-editor .invisible,
:host .invisible {
  color: #cab2fa;
}
atom-text-editor .cursor,
:host .cursor {
  border-color: #ffa352;
  border-left-width: 2px;
}
atom-text-editor .selection .region,
:host .selection .region {
  background-color: #494257;
}
atom-text-editor .bracket-matcher .region,
:host .bracket-matcher .region {
  border-bottom: 1px solid #ffa352;
}
atom-text-editor .invisible-character,
:host .invisible-character {
  color: #443d51;
  -webkit-font-smoothing: antialiased;
}
atom-text-editor .indent-guide,
:host .indent-guide {
  color: #443d51;
}
atom-text-editor .wrap-guide,
:host .wrap-guide {
  background-color: #443d51;
}
atom-text-editor .find-result .region.region.region,
:host .find-result .region.region.region,
atom-text-editor .current-result .region.region.region,
:host .current-result .region.region.region {
  border-radius: 0px;
  background-color: rgba(255, 163, 82, 0.16);
  transition: border-color 0.4s;
}
atom-text-editor .find-result .region.region.region,
:host .find-result .region.region.region {
  border: 2px solid transparent;
}
atom-text-editor .current-result .region.region.region,
:host .current-result .region.region.region {
  border: 2px solid #ffa352;
  transition-duration: .1s;
}
atom-text-editor .gutter .line-number,
:host .gutter .line-number {
  color: #715f95;
  -webkit-font-smoothing: antialiased;
}
atom-text-editor .gutter .line-number.git-line-removed:before,
:host .gutter .line-number.git-line-removed:before {
  bottom: -3px;
}
atom-text-editor .gutter .line-number.git-line-removed:after,
:host .gutter .line-number.git-line-removed:after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 25px;
  border-bottom: 1px dotted rgba(224, 82, 82, 0.5);
  pointer-events: none;
}
atom-text-editor .gutter .line-number.cursor-line,
:host .gutter .line-number.cursor-line {
  color: #cab2fa;
  background-color: #332e3d;
}
atom-text-editor .gutter .line-number.cursor-line-no-selection,
:host .gutter .line-number.cursor-line-no-selection {
  background-color: transparent;
}
atom-text-editor .gutter .line-number .icon-right,
:host .gutter .line-number .icon-right {
  color: #cab2fa;
}
atom-text-editor .gutter .line-number.folded,
:host .gutter .line-number.folded,
atom-text-editor .gutter .line-number:after,
:host .gutter .line-number:after,
atom-text-editor .fold-marker:after,
:host .fold-marker:after {
  color: #cab2fa;
}
.uno-1 {
  color: #f1ebff;
}
.uno-2 {
  color: #cab2fa;
}
.uno-3 {
  color: #ae91e8;
}
.uno-4 {
  color: #715f95;
}
.uno-5 {
  color: #544d60;
}
.duo-1 {
  color: #fec38f;
}
.duo-2 {
  color: #b07745;
}
.duo-3 {
  color: #765f4c;
}
.meta {
  color: #544d60;
}
.html.elements,
.entity,
.tag,
.function-call {
  color: #f1ebff;
}
.attribute-name,
.character.escape {
  color: #ae91e8;
}
.support {
  color: #715f95;
}
.variable {
  color: #ae91e8;
}
.string,
.constant,
.storage.type {
  color: #fec38f;
}
.keyword,
.storage {
  color: #b07745;
}
.punctuation,
.bracket,
.brace {
  color: #544d60;
}
.string .punctuation {
  color: #765f4c;
}
.comment {
  color: #715f95;
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.c .parens,
.c .block {
  color: #cab2fa;
}
.c .parens .punctuation,
.c .block .punctuation,
.c .parens .bracket,
.c .block .bracket,
.c .parens .brace,
.c .block .brace {
  color: #544d60;
}
.c .parens .string .punctuation,
.c .block .string .punctuation {
  color: #765f4c;
}
.c .comment {
  color: #765f4c;
}
.source.clojure .expression {
  color: #fec38f;
}
.source.clojure .expression .punctuation {
  color: #544d60;
}
.source.clojure .symbol {
  color: #cab2fa;
}
.source.clojure .vector {
  color: #715f95;
}
.coffee.source {
  color: #715f95;
}
.source.cs .meta {
  color: #715f95;
}
.source.cs .method {
  color: #cab2fa;
}
.css.source {
  color: #544d60;
}
.css.attribute-name.id,
.css.attribute-name.class,
.css.attribute-name.parent-selector {
  color: #f1ebff;
}
.css.unit {
  color: #b07745;
}
.css.function {
  color: #765f4c;
}
.css.punctuation.terminator {
  color: #765f4c;
}
.css.at-rule {
  color: #f1ebff;
}
.css.at-rule .keyword.punctuation {
  color: inherit;
}
.gfm {
  color: #f1ebff;
}
.gfm .punctuation,
.gfm .bracket,
.gfm .brace {
  color: #544d60;
}
.gfm .string .punctuation {
  color: #765f4c;
}
.gfm .link {
  color: #cab2fa;
}
.gfm.markup {
  color: #cab2fa;
}
.gfm.markup.bold {
  font-weight: bold;
}
.gfm.markup.italic {
  font-style: italic;
}
.gfm.markup.strike {
  color: #544d60;
  text-decoration: line-through;
}
.gfm.markup.raw {
  color: #fec38f;
}
.gfm.markup.raw .support,
.gfm.markup.code .support {
  color: #715f95;
}
.gfm.comment {
  color: #715f95;
}
.gfm.comment.quote {
  color: #cab2fa;
}
.gfm.table {
  color: #fec38f;
}
.gfm.table .border,
.gfm.table .pipe {
  color: #544d60;
}
.gfm.variable,
.gfm.entity {
  color: #fec38f;
}
.gfm.support {
  color: #b07745;
}
.gfm.heading-1,
.gfm.heading-2,
.gfm.heading-3 {
  color: #fec38f;
}
.gfm.heading-4,
.gfm.heading-5,
.gfm.heading-6 {
  color: #b07745;
}
.haskell.source {
  color: #cab2fa;
}
.haskell.source .punctuation,
.haskell.source .bracket,
.haskell.source .brace {
  color: #544d60;
}
.haskell.source .string .punctuation {
  color: #765f4c;
}
.html.meta {
  color: #544d60;
}
.html.embedded .meta,
.html.doctype,
.html.text {
  color: #715f95;
}
.html .string .id {
  color: #fec38f;
}
.jade.text,
.jade .constant.name.attribute.tag {
  color: #715f95;
}
.jade .meta.control.flow {
  color: #cab2fa;
}
.jade .attribute-name.id {
  color: #fec38f;
}
.java .method {
  color: #cab2fa;
}
.java .method .punctuation,
.java .method .bracket,
.java .method .brace {
  color: #544d60;
}
.java .method .string .punctuation {
  color: #765f4c;
}
.java .dereference {
  color: #715f95;
}
.js.source {
  color: #cab2fa;
}
.js.source .punctuation,
.js.source .bracket,
.js.source .brace {
  color: #544d60;
}
.js.source .string .punctuation {
  color: #765f4c;
}
.json .string {
  color: #cab2fa;
}
.json .string .punctuation {
  color: #544d60;
}
.json .value > .string {
  color: #fec38f;
}
.json .value > .string .punctuation {
  color: #544d60;
}
.json .value .constant {
  color: #b07745;
}
.less.variable:first-child {
  color: #cab2fa;
}
.less .mixin {
  color: #b07745;
}
.mediawiki {
  color: #f1ebff;
}
.mediawiki .punctuation,
.mediawiki .bracket,
.mediawiki .brace {
  color: #544d60;
}
.mediawiki .string .punctuation {
  color: #765f4c;
}
.mediawiki .wiki-link {
  color: #cab2fa;
}
.mediawiki .heading {
  color: #fec38f;
}
.mediawiki .function-call {
  color: #b07745;
}
.mediawiki .value {
  color: #fec38f;
}
.mediawiki .fix_this_later {
  color: #cab2fa;
}
.mediawiki .pipe,
.mediawiki .link,
.mediawiki .tag {
  color: #544d60;
}
.php .string-contents {
  color: #fec38f;
}
.sass .at-rule .at-rule,
.sass .at-rule .at-rule > .punctuation {
  color: #f1ebff;
}
.sass .mixin + .function,
.sass .include + .function {
  color: #b07745;
}
.sass.property-value {
  color: #fec38f;
}
.sass.property-value .function {
  color: #cab2fa;
}
.sass.property-value .punctuation {
  color: #544d60;
}
.sass.variable.parameter.url {
  color: #fec38f;
}
.sass.class,
.sass.parent-selector-suffix {
  color: #f1ebff;
}
.scss .at-rule .at-rule,
.scss .at-rule .at-rule > .punctuation {
  color: #f1ebff;
}
.scss .mixin + .function,
.scss .include + .function {
  color: #b07745;
}
.scss.property-value {
  color: #fec38f;
}
.scss.property-value .function {
  color: #cab2fa;
}
.scss.property-value .punctuation {
  color: #544d60;
}
.scss.variable.parameter.url {
  color: #fec38f;
}
.scss.class,
.scss.parent-selector-suffix {
  color: #f1ebff;
}
.slim.meta {
  color: #544d60;
}
.slim.text {
  color: #715f95;
}
.slim .string .id {
  color: #fec38f;
}
.stylus .function .name {
  color: #b07745;
}
.tex .other {
  color: #b07745;
}
.tex .reference {
  color: #cab2fa;
}
.plain .text {
  color: #f1ebff;
}
.yaml .tag {
  color: #cab2fa;
}
.yaml .constant {
  color: #b07745;
}
.yaml .punctuation {
  color: #544d60;
}
atom-text-editor::shadow [data-screen-row="1"] .text {
  color: #f1ebff;
}
atom-text-editor::shadow [data-screen-row="2"] .text {
  color: #cab2fa;
}
atom-text-editor::shadow [data-screen-row="3"] .text {
  color: #ae91e8;
}
atom-text-editor::shadow [data-screen-row="4"] .text {
  color: #715f95;
}
atom-text-editor::shadow [data-screen-row="5"] .text {
  color: #544d60;
}
atom-text-editor::shadow [data-screen-row="7"] .text {
  color: #fec38f;
}
atom-text-editor::shadow [data-screen-row="8"] .text {
  color: #b07745;
}
atom-text-editor::shadow [data-screen-row="9"] .text {
  color: #765f4c;
}
