* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
}

body {
  margin: 0;
  height: 100%;
}

atom-text-editor {
  display: block;
  min-height: 100%;
}



/* Header ------------- */

header {
  padding: 10vh 0 5vh 0;
}

.logo {
  display: block;
  width: 10em;
  margin: 0 auto;
  padding: 2em 0;
  font-weight: 700;
  line-height: 0.9;
  text-align: center;
  border: 2px solid hsla(0,0%,100%,.1);
}
.logo-row {
  display: block;
  text-transform: uppercase
}
.logo-row:nth-child(1) { font-size: 2.5em; }
.logo-row:nth-child(2) { font-size: 2em; }

.logo-name {
  display: block;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 300;
  margin-top: 1em;
}





/* Palette ------------- */

.palette {
  padding: 2em;
  max-width: 20em;
  margin: 0 auto;
  font-size: 1.4em;
  text-align: center;
}

.color {
  font-family: 'Fira Mono', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

.color:before {
  content: "";
  display: inline-block;
  width: .8em;
  height: 1.6em;
  margin-right: 1em;
  vertical-align: middle;
  background-color: currentColor;
}
.color.bg:before {
  box-sizing: border-box;
  border: 2px solid hsla(0,0%,100%,.1);
  background-color: inherit;
}

.color.duo-1,
.color.bg {
  margin-top: 1em;
}

.color p,
.color span {
  display: inline-block;
  margin: 0 .5em;
  vertical-align: middle;
}

/* hover */
.color span {
  opacity: .2;
}
.color:hover span {
  opacity: 1;
}
